.welcome {
  text-align: left;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  h1 {
    font-weight: 900;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  h4 {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  .welcome__social-media {
    margin-top: 3rem;
  }
}
