.ReactLogo {
  animation: logo-spin infinite 3s linear;
  height: 5rem;
  pointer-events: none;
}

@keyframes logo-spin  {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}