@import '../../styles/colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;

  nav {
    text-align: right;
  }

  li {
    margin-bottom: 2rem;
  }

  h3 {
    font-weight: 700;
    display: inline;
    transition: background-position .15s .1s;
    background-image: linear-gradient(180deg,$lightseagreen 0,$lightseagreen);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 3.3rem;

    @media (hover) {
      &:hover {
        cursor: pointer;
        background-image: linear-gradient(to bottom, $lightseagreen 0%, $lightseagreen 100%);
        background-position: 0 2rem;
      }
    }
  }
}
