@import '../../styles/media-breakpoints.scss';

.timeline-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;

  @media(max-width: $screen-sm) {
    flex-direction: column;
  }

  .date-container {
    flex: 1;
    padding-right: 3rem;

    @media(max-width: $screen-sm) {
      margin-bottom: 1rem;
    }

    p {
     font-weight: 700;
    }
  }

  .content-container {
    flex: 5;
    .title {
      margin-bottom: 1rem;
      font-weight: 700;
    }
    .text {
      margin-bottom: 1rem;
      line-height: 1.5;
    }
  }
}