.timeline-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;

  .date-container {
   flex: 1;
  }

  .content-container {
    flex: 5;
    .title {
      margin-bottom: 1rem;
    }
    .text {
      margin-bottom: 1rem;
      line-height: 1.5;
    }
  }
}