@import '../../styles/colors.scss';

.social-media-bar {
  display: flex;
  flex-direction: row;

  h1 {
    margin-right: 3rem;
    font-size: 4rem;

    display: inline;

    svg {
      transition: background-position .15s .1s;
      background-image: linear-gradient(180deg,$lightseagreen 0,$lightseagreen);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 3rem;
  
      @media (hover) {
        &:hover {
          cursor: pointer;
          background-image: linear-gradient(to bottom, $lightseagreen 0%, $lightseagreen 100%);
          background-position: 0 0;
        }
      }
    }
  }
}